<!DOCTYPE html>
<html lang="en">
<head>
<title>Radiomic Result Analysis</title>
<meta charset="utf-8" />
{% load static %}
{% include "main_menu/global_script.html" %}
<!-- Jquery UI for autocomplete -->
<script src="{% static "jquery/ui/1.12.1/jquery-ui.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "jquery/ui/1.12.1/jquery-ui.min.css"%}"></link>
<!--  Plotly -->
<script type="text/javascript" src="{% static "plotly/plotly-1.47.0.min.js"%}"></script>

<script type="text/javascript" src="{% static "vis_stratified_radiomic/vis_stratified_radiomic.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "vis_stratified_radiomic/vis_stratified_radiomic.css"%}"></link>

<!-- JExcel Scripts -->
<script src="{% static "jexcel/2.0.2/js/jquery.jexcel.js"%}"></script>
<link rel="stylesheet" href="{% static "jexcel/2.0.2/css/jquery.jexcel.css"%}" type="text/css"></link>
<script type="text/javascript" src="{% static "theme/common-jexcel-ext.js"%}"></script>
<script type="text/javascript" src="{% static "theme/common_graph.js"%}"></script>


<link rel="stylesheet" href="{% static "slickgrid/2.4.3/slick.grid.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "slickgrid/2.4.3/controls/slick.pager.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "slickgrid/2.4.3//controls/slick.columnpicker.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "jquery/ui/1.12.1/jquery-ui.theme.css"%}" type="text/css"/>
<link rel="stylesheet" href="examples.css" type="text/css"/>
<style>
    .cell-title {
      font-weight: bold;
    }
    .cell-effort-driven {
      text-align: center;
    }
    .cell-selection {
      border-right-color: silver;
      border-right-style: solid;
      background: #f5f5f5;
      color: gray;
      text-align: right;
      font-size: 10px;
    }
    .slick-row.selected .cell-selection {
      background-color: transparent; /* show default selected row background */
    }
  </style>
</head>
<body>
	<!-- Hidden fields used in JS -->
	<input type="hidden" id="process_data_url" data-url="{%url 'vis_stratified_radiomic_process' %}" />
	{% include "main_menu/nav_bar.html" %}
	<h3 class="page_title">Radiomic Result Analysis</h3>
	{% include "main_menu/alert_msg.html" %}
	
	

	
	<div class="container-fluid">
	
	
		<div>
			<div id="dataset_group">
				<form id="form_upload_file" method="post"
					action="{% url 'vis_stratified_radiomic_process' %}" enctype="multipart/form-data">
					{% csrf_token %}
					
					<!-- Upload file section -->
					<div id="upload_file_group" class="form-group-border">
						<p>
							<a id="upload_file_title" href="#">Dataset</a>
						</p>
						<div  id="upload_file_section">
							<!-- Row 1 -->
							<div class="form-group row">
								<label for="data_file" class="col-sm-2">Data File</label>
								<div class="col-sm-10">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="data_column_header"  name="data_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="column_header">Data file contains table header</label>
									</div>
									<input id="data_file" name="data_file" type="file" />
								</div>
							</div>
							
							<!-- Row 2 -->
							<div class="form-group row">
								<label for="label_file" class="col-sm-2">Label File</label>
								<div class="col-sm-10">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="label_column_header"  name="label_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="label_column_header">Data file contains table header</label>
									</div>
									<input id="label_file" name="label_file" type="file" />
								</div>
							</div>
							
							<!-- Additional Data for Base Space -->
							<div class="form-group row">
								<label for="label_file" class="col-sm-2">Additional Data File (first column is unique ID)</label>
								<div class="col-sm-10">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="add_data_column_header"  name="add_data_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="add_data_column_header">Data file contains table header</label>
									</div>
									<input id="add_data_file" name="add_data_file" type="file" />
								</div>
							</div>
							
							<!-- Row 3 -->
							<div class="form-group row">
								<label for="data_file" class="col-sm-2">New Data File</label>
								<div class="col-sm-10">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="new_data_column_header"  name="new_data_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="new_data_column_header">Data file contains table header</label>
									</div>
									<input id="new_data_file" name="new_data_file" type="file" />
								</div>
							</div>				
							<!-- Row 4 -->
							<div  class="form-group row">
								<label for="general_data_file" class="col-sm-2">General Information</label>
								<div class="col-sm-10">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="general_data_column_header"  name="general_data_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="general_data_column_header">Data file contains table header</label>
									</div>
									<input name="general_data_file" type="file" />
									<div style="margin-top: 15px;">
										<button id="process_data" class="btn btn-primary" type="submit">Process</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		<div>
		<div id="plotjs_container"></div>
			<!-- Graph search -->
			<div>
				<div class="form-group row">
					<div class="col-sm-5" style="display: -webkit-inline-box;margin: 10px;">
						<div class="col-sm-5">
							<label for="btn_hide_text_on_dot">Show text over the dots</label>
						</div>
						<div class="col-sm-5">
							 <label class="switch">
			  						<input id="btn_hide_text_on_dot" name="btn_hide_text_on_dot" type="checkbox" checked>
			  						<span class="slider round"></span>
							 </label>
						 </div>
					</div>
					<div class="col-sm-5" style="display: -webkit-inline-box;margin: 10px;">
						<div class="col-sm-5">
							<label for="btn_hide_text_on_dot">Search ID</label>
						</div>
						<div class="col-sm-5">
		  				 	<input id="search_id" name="search_id" type="text" class="form-control"></input>
		  				 	<!-- <button id="btn_find_dot_by_id" name="btn_find_dot_by_id" class="btn btn-primary">Find</button> -->
		  				</div>
		 
					</div>
				</div>
				
				<div class="form-group row">
					<div class="col-sm-5" style="display: -webkit-inline-box;margin: 10px;">
						<div class="col-sm-5">
							<label for="sel_health_rate">Text Search</label>
						</div>
						<div class="col-sm-5">
							 <label for="txt_search">
			  						<input id="txt_search" name="txt_search" type="text" class="form-control">
							 </label>
						 </div>
					</div>
					<div class="col-sm-5" style="display: -webkit-inline-box;margin: 10px;">
						<div class="col-sm-5">
							<label for="sel_health_rate">Health Rating</label>
						</div>
						<div class="col-sm-5">
							 <label for="sel_health_rate">
			  						<select id="sel_health_rate" style="margin-left: 5px;"></select>
							 </label>
						 </div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tab_radiomic_result">Radiomic Result</a></li>
				<li><a data-toggle="tab" href="#tab_grid_medical_history">Medical History</a></li>
			</ul>
			<div id="grid_container">
				<div id="tab_grid_radiomic_result" class="tab-pane fade in active">
					<!-- =========== Plot ============== -->
					<div align="center" style="padding:10px;">
						
					</div>
				</div>
				
				<div id="tab_grid_medical_history" class="tab-pane fade">
				  <div>
				    <div class="grid-header" style="width:100%">
				      <!-- <label>SlickGrid</label> -->
				      <span style="float:right" class="ui-icon ui-icon-search" title="Toggle search panel"
				            onclick="toggleFilterRow()"></span>
				    </div>
				    <div id="grid_medical_history" style="width:100%;height:500px;"></div>
				    <div id="pager" style="width:100%;height:20px;"></div>
				  </div>
				</div>
			</div>
		</div>
		
		<!-- Tables to display data -->
<!-- 		<div class="container-fluid">
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tab_radiomic_result">Radiomic Result</a></li>
				<li><a data-toggle="tab" href="#tab_medical_history">Medical History</a></li>
			</ul>
			
			<div class="tab-content">
				<div id="tab_radiomic_result" class="tab-pane fade in active">
					=========== Plot ==============
					<div align="center" style="padding:10px;">
						<div id="data_table_radiomic_result">
						</div>
					</div>
				</div>
				<div id="tab_medical_history" class="tab-pane fade">
					=========== Plot ==============
					<div align="center" style="padding:10px;">
						<div id="data_table_medical_history">
						</div>
					</div>
				</div>
			</div>
		</div> -->
		
		</div>
		
		

<script src="{% static "slickgrid/2.4.3/lib/jquery-1.11.2.min.js"%}"></script>
<!-- can't remove 1.11.3 -->
	<script src="{% static "slickgrid/2.4.3/lib/jquery-ui-1.11.3.min.js"%}"></script>
<script src="{% static "slickgrid/2.4.3/lib/jquery.event.drag-2.3.0.js"%}"></script>
<script type="text/javascript" src="{% static "slickgrid/2.4.3/slick.core.js"%}"></script>
<script type="text/javascript" src="{% static "slickgrid/2.4.3/slick.grid.js"%}"></script>
<script type="text/javascript" src="{% static "slickgrid/2.4.3/slick.formatters.js"%}"></script>
<script type="text/javascript" src="{% static "slickgrid/2.4.3/slick.editors.js"%}"></script>
<script type="text/javascript" src="{% static "slickgrid/2.4.3/plugins/slick.rowselectionmodel.js"%}"></script>
<script type="text/javascript" src="{% static "slickgrid/2.4.3/slick.dataview.js"%}"></script>
<script type="text/javascript" src="{% static "slickgrid/2.4.3/controls/slick.pager.js"%}"></script>
<script type="text/javascript" src="{% static "slickgrid/2.4.3/controls/slick.columnpicker.js"%}"></script>



<!-- <div id="grid_container"> style="position:relative"
  <div>style="width:600px;"
    <div class="grid-header" style="width:100%">
      <label>SlickGrid</label>
      <span style="float:right" class="ui-icon ui-icon-search" title="Toggle search panel"
            onclick="toggleFilterRow()"></span>
    </div>
    <div id="grid_medical_history" style="width:100%;height:500px;"></div>
    <div id="pager" style="width:100%;height:20px;"></div>
  </div>
</div> -->

<!--   <div class="options-panel">
    <b>Search:</b>
    <hr/>
    <div style="padding:6px;">
      <label style="width:200px;float:left">Show tasks with % at least: </label>

      <div style="padding:2px;">
        <div style="width:100px;display:inline-block;" id="pcSlider"></div>
      </div>
      <br/>
      <label style="width:200px;float:left">And title including:</label>
      <input type=text id="txtSearch" style="width:100px;">
      <br/><br/>
      <button id="btnSelectRows">Select first 10 rows</button>
      <br/>
    </div>
  </div>
</div>
 -->
<!-- <div id="inlineFilterPanel" style="display:none;background:#dddddd;padding:3px;color:black;">
  Show tasks with title including <input type="text" id="txtSearch2">
  and % at least &nbsp;
  <div style="width:100px;display:inline-block;" id="pcSlider2"></div>
</div>
 -->



</body>
</html>