dash_html_components==0.15.0
scipy==1.2.1
django_plotly_dash==0.9.8
simplejson==3.16.0
joblib==0.13.1
dash_core_components==0.46.0
Django==2.1.4
ipywidgets==7.1.1
mlxtend==0.13.0
pandas==0.22.0
dash==0.41.0
numpy==1.14.6
ipython==7.6.0
djangorestframework==3.9.4
scikit_learn==0.21.2
xgboost==0.90