/* For solving background floating top */
html{ 
 height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #fff; 
    /* #70bg32 */
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to left top, #cccccc38,#e7fbfb);
    background: -moz-linear-gradient( to left top, #cccccc38,#e7fbfb);
    background: -ms-linear-gradient( to left top, #cccccc38,#e7fbfb);
    background: -o-linear-gradient( to left top, #cccccc38,#e7fbfb);
    background: linear-gradient( to left top, #cccccc38,#e7fbfb);
}

body{
  background: 
	linear-gradient(0deg,#cccccc38,#e7fbfb)
    ,url('../images/home/artificial-intelligence-bg.jpg');
  min-height: 100%;
}

.space-top{
	margin-top:30px;
}

#category{
	background-color: white;
    border-radius: 1em;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 620px;
}
.img-main-category{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    border-color: initial;
    border-width: 3px;
    border-style: outset;
    margin-left: 35px;
    margin-right: 35px;
}

.cate-display-inline{
	display: flex;
    justify-content: center;
    /* align-items: center; */
    vertical-align: top;
}


.btn_app_home{
	font-size: larger;
    font-weight: bolder;
    padding-top: 10px;
    border-radius: 1em;
    padding-bottom: 10px;
    width: 250px;
    background-color: #008b8b;
    color: white;
}

.nav-container{
	/* background-color: #afeeee; */
	background-color: #48d1cc;
}
.font_header{
	font-weight: bolder;
    /* color: #008b8b !important; */
    color: white !important;
    font-size: x-large;
}
.font_header:hover{
	color:#008b8b !important;
}

#div_edu{
    width: 35%;
}

#div_prog, #div_app{
	width: 30%;
}

.preview-youtube{
	width: 100%;
    display: inline-flex;
    border-width: 1px;
    border-color: gray;
    border-style: dashed;
    vertical-align: middle;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 1em;
}
.preview-youtube-text{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
    width: 60%;
}
.preview-youtube-video{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    flex-direction: column;
    width: 40%;
}


.ul-prog-list{
	text-align:left;
}


footer{
	/* background-color: #2f4f4f; */
	background-color: #008b8b;
    color: white;
    padding: 15px;
	bottom: 0px !important;
    position: fixed !important;
    width: 100% !important;
}