<div class="alert alert-success alert-dismissible" style="display:none;">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	<strong>[Success]</strong> <div id="result-msg-success" style="display: inline-block;"></div>
</div>

<div class="alert alert-info" style="display:none;">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	<strong>[Info]</strong> <div id="result-msg-info" style="display: inline-block;"></div>
</div>

<div class="alert alert-warning" style="display:none;">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	<strong>[Warning]</strong> <div id="result-msg-warning" style="display: inline-block;"></div>
</div>

<div class="alert alert-danger" style="display:none;">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  	<strong>[Failed]</strong> <div id="result-msg-error" style="display: inline-block;"></div>
</div>