{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>AI-INSIGHT.COM</title>
<meta charset="utf-8" />
<meta name="description" content="Artificial Intelligence Learning Path and Solutions">
{% include "main_menu/global_script.html" %}

<link rel="stylesheet" href="{% static "home/home.css"%}"></link>
<script src="{% static "main_menu/main_menu_action.js" %}"></script>

</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid nav-container" >
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div class="logo-area">
					<img class="logo" src="{% static "images/home/logo.png" %}" height="50"/>
					<a class="navbar-brand font_header">AI-INSIGHT.COM</a>
				</div>
			</div>
			
			<!-- Right menu -->
			<ul class="nav navbar-nav navbar-right">
	            <li>
	            	<a href="#" data-toggle="modal" data-target="#my_modal">
	            		<font class="font_header">About</font>
	            	</a>
	            </li>
            <!-- <li><a href="../navbar-static-top/">Static top</a></li> -->
            <!-- <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li> -->
          </ul>
			
		</div>
	</nav>
	<!-- Container for content -->
	<div class="container-fluid" align="center">
		<p><font color="red">***This website is under construction (last update Nov. 2019)***</font></p>
		<div id="category" class="cate-display-inline">
			<div id="div_edu">
				<img class="img-main-category" src='{% static "images/home/coffee-com-book.jpg" %}' alt="Education"/>
				<p id="edu_title">
					<font size="4">
						<strong>Learning Path</strong>
					</font>
				</p>
				<div class="preview-youtube">
					<div class="preview-youtube-text">Artificial Intelligence Introduction <br> (Thai version)</div>
					<div class="preview-youtube-video"><iframe width="150" height="120" src="https://www.youtube.com/embed/op_VjbkdsOw"></iframe></div>
				</div>
				<div class="preview-youtube">
					<div class="preview-youtube-text">Machine Learning for Beginners <br> (Thai version)</div>
					<div class="preview-youtube-video"><iframe width="150" height="120" src="https://www.youtube.com/embed/JBkj1Dax4AE"></iframe></div>
				</div>
			</div>
			
			<div id="div_prog">
				<img class="img-main-category" src='{% static "images/home/programming.jpg" %}' alt="Application" />
				<p id="title_prog"><font size="4"><strong>Programming</strong></font></p>
				<!-- <p id="title_prog"><font size="3">Machine Learning and Python</font></p> -->
					<ul class="ul-prog-list">
						<li>
							<a href="https://github.com/naphattharap/machine-learning" target="_blank">
							Machine Learning and Python Explanation (Jupyter Notebook)</a> 
						</li>
						<li>
							<a href="https://github.com/naphattharap/nli_chatbot" target="_blank">
							Chatbot: Sample source code for building a chatbot from scratch (Python)</a>
						</li>
						<li>
							<a href="https://github.com/naphattharap/face-identification" target="_blank">
								Face-Identification: Sample source code (MATLAB)
							</a>
						</li>						
						<li>
							<!-- <a href="#" target="_blank"> -->
								To be continued
							<!-- </a> -->
						</li>
					</ul>
			</div>
			
			<div id="div_app">
				<img class="img-main-category" src='{% static "images/home/app_cate.jpg" %}' alt="Application" />
				<p id="title_app"><font size="4"><strong>Application</strong></font></p>
				<div class="center_button">
					<div>
						<form action="{%url 'main' %}">
							<button id="btn_enter_insight" type="submit" class="btn_app_home">Enter The Insight</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!--  Modal Dialog About -->
		<div id="my_modal" class="modal fade" role="dialog" align="center">
			<div id="my_message" class="modal-content"align="left" style="margin: 20px">
				<div class="modal-header">
       			 	<button type="button" class="close" data-dismiss="modal">&times;</button>
        			<h4 class="modal-title">
						My inspiration for this application
					</h4>
      			</div>
      			<div class="modal-body">
					
					<p>
						Building Machine Learning Models is a trial and error, and some steps are like a set of pattern of tasks ex. statistical analysis, correlation of attributes, etc.<br><br>
						
						<strong>Isn't it better to summarize those basic steps and visualize data quickly through the FREE software?</strong> 
						<br> 
						My intention to develop this software is to support tasks in Machine Learning Pipeline. <br>
						The ultimate goal is to do automatic model selection (it's still long way to go...) <br>
						<br>
						I have a special interest in applying Artificial Intelligence in Healthcare domain. <br>
						Therefore, I developed 
							<strong>The computational tool for finding an association between radiomics data and clinical outcomes</strong> for my master thesis in AI.
						<br>
						The tool is integrated to this platform for sample work in applying machine learning.
						<br>
						<br>
						If you are interested in my project, please visit this link:
						<a href="https://repositori.upf.edu/handle/10230/42547"
							target="_blank">https://repositori.upf.edu/handle/10230/42547</a>
					</p>
	
					<div align="center">
						Contact: <a href="mailto:aiinsight.ad@gmail.com">aiinsight.ad@gmail.com</a>
					</div>
				</div>
				<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
			</div>
		</div>
		<!-- Modal Dialog About: End -->
	</div>
	
	<!-- End container -->
	
	<br>
	<br>
	<!-- Footer -->
	<footer class="page-footer font-small blue">
	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">© 2019 Copyright
	    <a href="#"></a>
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
	
</body>
</html>
