{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>AI-INSIGHT.COM</title>
<meta charset="utf-8" />
<meta name="description" content="Artificial Intelligence Learning Path and Solutions">
{% include "main_menu/global_script.html" %}

<link rel="stylesheet" href="{% static "home/home.css"%}"></link>
<script src="{% static "main_menu/main_menu_action.js" %}"></script>
<style>
.tab { margin-left: 40px; }
.two_tab { margin-left: 80px; }
</style>
</head>
<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid nav-container" >
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<div class="logo-area">
					<img class="logo" src="{% static "images/home/logo.png" %}" height="50"/>
					<a class="navbar-brand font_header">AI-INSIGHT.COM</a>
				</div>
			</div>
			
			<!-- Right menu -->
			<ul class="nav navbar-nav navbar-right">
	            <li>
	            	<a href="#" data-toggle="modal" data-target="#my_modal">
	            		<font class="font_header">About</font>
	            	</a>
	            </li>
            <!-- <li><a href="../navbar-static-top/">Static top</a></li> -->
            <!-- <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li> -->
          </ul>
			
		</div>
	</nav>
	<!-- Container for content -->
	<div class="container-fluid" align="center">
		<p><font color="red">***This website is under construction (last update Nov. 2019)***</font></p>
		<div id="category" class="cate-display-inline">
			<div id="div_edu">
				<img class="img-main-category" src='{% static "images/home/coffee-com-book.jpg" %}' alt="Education"/>
				<p id="edu_title">
					<font size="4">
						<strong>Learning Path</strong>
					</font>
				</p>
				<div class="preview-youtube">
					<div class="preview-youtube-text">Artificial Intelligence Introduction <br> (Thai version)</div>
					<div class="preview-youtube-video"><iframe width="150" height="120" src="https://www.youtube.com/embed/op_VjbkdsOw"></iframe></div>
				</div>
				<div class="preview-youtube">
					<div class="preview-youtube-text">Machine Learning for Beginners <br> (Thai version)</div>
					<div class="preview-youtube-video"><iframe width="150" height="120" src="https://www.youtube.com/embed/JBkj1Dax4AE"></iframe></div>
				</div>
			</div>
			
			<div id="div_prog">
				<img class="img-main-category" src='{% static "images/home/programming.jpg" %}' alt="Application" />
				<p id="title_prog"><font size="4"><strong>Programming</strong></font></p>
				<p class="cate_prog_title"><font size="3">Machine Learning</font></p>
					<ul class="ul-prog-list">
						<li>
							<a href="https://github.com/naphattharap/machine-learning" target="_blank">
							Machine Learning and Python Explanation (Jupyter Notebook)</a> 
						</li>
					</ul>
				<p class="cate_prog_title"><font size="3">Computer Vision</font></p>
					<ul class="ul-prog-list">
						<li>
							<a href="https://github.com/naphattharap/computer_vision-face_identification" target="_blank">
								Face Identification (Python)
							</a> 
						</li>
						<li>
							<a href="https://github.com/naphattharap/face-identification" target="_blank">
								Face Identification (MATLAB)
							</a>
						</li>
					</ul>
				<p class="cate_prog_title"><font size="3">Natural Language Processing</font></p>
				<ul class="ul-prog-list">
					<li>
						<a href="https://github.com/naphattharap/nli_chatbot" target="_blank">
							Chatbot: Sample source code for building a chatbot from scratch (Python)
						</a>
					</li>
				</ul>
			</div>
			
			<div id="div_app">
				<img class="img-main-category" src='{% static "images/home/app_cate.jpg" %}' alt="Application" />
				<p id="title_app"><font size="4"><strong>Application</strong></font></p>
				<div class="center_button">
					<div>
						<form action="{%url 'main' %}">
							<button id="btn_enter_insight" type="submit" class="btn_app_home">Enter The Insight</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<!--  Modal Dialog About -->
		<div id="my_modal" class="modal fade" role="dialog" align="center">
			<div id="my_message" class="modal-content"align="left" style="margin: 20px">
				<div class="modal-header">
       			 	<button type="button" class="close" data-dismiss="modal">&times;</button>
        			<h4 class="modal-title">
						About this website
					</h4>
      			</div>
      			<div class="modal-body">
					
					<p>
						This website is for collecting my works and contributions in software development.
						There aren't so many content so far as I just started.<br><br>
						There are 3 categories for now: <br>
						1. Tutorial videos for basic knowledge 
						in Machine Learning in Thai language (not finished all content yet) <br>
						2. Shared source code on GitHub (there are more to upload...)<br>
						3. Sample web application <br>
					</p>
					
					<p class="tab"><strong>The Insight (being developed)</strong></p>
					<p class="two_tab">
							Inspiration:<br>
							As we have known that building Machine Learning models is a trial and error and we have some kinds of patterns to start working e.g. data cleanup, EDA and so on. <br>
							I am developing this application to reduce time for writing program in some steps of work
							and my ultimate goals are to do model selection and configurable visualization (still long way to go)<br>
					</p>
					
					<p class="tab"><strong>Sample work for applied machine learning in real-world problem</strong></p>
					<p class="two_tab">
						<strong>The computational tool for finding an association between radiomics data and clinical outcomes</strong><br>
						I integrated my work for my master's thesis into this application. <br>
						It is the computational tool for finding an association between radiomics data and clinical outcomes. <br>
						The dataset are cardiovascular radimics data which comes with 8xx features and 10,xxx columns of clinical outcomes data. <br>
						Since the dataset are large and it is not easy to find association of those data. <br>
						To solve this problem, I implemented the tool for finding related features based on selected target in clinical outcomes 
						so that a clinician can see what features are related to frequency of hard exercise, smoking status, age, gender and so on. 
						In addition, Framingham Risk Score for cardiovascular disease is also calculated for selected the input dataset. <br><br>
						If you are interested in this project, please visit this link for more details or email to me for dataset to play with the tool.<br>
						Link: <a href="https://repositori.upf.edu/handle/10230/42547"
							target="_blank">https://repositori.upf.edu/handle/10230/42547
						</a>
					</p>
	
					<div align="center">
						Contact: <a href="mailto:aiinsight.ad@gmail.com">aiinsight.ad@gmail.com</a>
					</div>
				</div>
				<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      			</div>
			</div>
		</div>
		<!-- Modal Dialog About: End -->
	</div>
	
	<!-- End container -->
	
	<br>
	<br>
	<!-- Footer -->
	<footer class="page-footer font-small blue">
	  <!-- Copyright -->
	  <div class="footer-copyright text-center py-3">© 2019 Copyright
	    <a href="#"></a>
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
	
</body>
</html>
