{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Main Page</title>
<meta charset="utf-8"/>
{% include "main_menu/global_script.html" %}
<script src="{% static "main_menu/main_menu_action.js" %}"></script>

<script>
$(document).ready(function() {
/* 	console.log("main page has been loaded.");
	src_nav_bar = "{% static "theme/nav_bar.html" %}";
	$("#nav_bar").load(src_nav_bar);
	{% url 'radiomic_brain' %} */
});
</script>
</head>
<body>
{% include "main_menu/nav_bar.html" %}
</body>
</html>
