
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">ML-VIS System</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{%url 'home' %}">Home</a></li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Data<span class="caret"></span>
						</a>
						
						<ul class="dropdown-menu">
							<li><a id="menu-upload" href="{%url 'data_upload_init' %}">Upload</a></li>
							<li><a id="menu-data-cleanup" href="{%url 'data_cleanup' %}">Data Preparation</a></li>
							<li><a id="menu-data-matching" href="{%url 'data_matching_home' %}">Data Matching</a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Dimensionality Reduction<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="{%url 'pca_home' %}">Principal Component Analysis</a></li>
							<li><a id="" href="{%url 'lda_home' %}">Linear Discriminant Analysis</a></li>
							<li><a id="" href="{%url 'tsne_home' %}">t-Distributed Stochastic Neighbor Embedding</a></li>
							
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Model Training<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="{%url 'supervised_home' %}">Supervised Learning</a></li>
							<li><a id="" href="{%url 'unsupervised_home' %}">Unsupervised Learning</a></li>
							<li><a id="" href="{%url 'cluster_analysis_home' %}">Cluster Analysis</a></li>
						</ul>
					</li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Visualization<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="flex_model_analysis" href="{%url 'flex_vis_home' %}">Flexible View</a></li>
							<li><a id="vis_diabetes_class" href="{%url 'vis_diabetes_class' %}">Data Table</a></li>
							<li><a id="radiomic_brain" href="{%url 'radiomic_brain' %}">Lasso Tool</a></li>
							<li><a id="vis_multi_tabs" href="{%url 'vis_multi_tabs' %}">Multi-tab</a></li>
							<li><a id="vis_call_back" href="{%url 'vis_call_back' %}">Callback</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul>
					</li>
				</ul>
				<!-- <ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="./">Default <span
							class="sr-only">(current)</span></a></li>
					<li><a href="../navbar-static-top/">Static top</a></li>
					<li><a href="../navbar-fixed-top/">Fixed top</a></li>
				</ul> -->
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav> 
	
	{% load static %}
	<script src="{% static "main_menu/main_menu_action.js" %}"></script>