<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{%url 'home' %}">THE INSIGHT</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{%url 'main' %}">Home</a></li>

					<!-- Data Pre-processing -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Data Preprocessing<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<!-- <li><a id="menu-upload" href="{%url 'data_upload_init' %}">Upload</a></li> -->
							<li><a id="menu-data-cleanup" href="{%url 'data_cleanup' %}">Data Cleanup</a></li>
							<li><a id="menu-data-matching" href="{%url 'data_matching_home' %}">Data Matching</a></li>
						</ul>
					</li>

					
					<!-- Exploratory data  analysis (EDA) -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Exploratory data  analysis (EDA)<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a id="eda-hist" href="#">Histogram</a></li>
							<li><a id="eda-scatter" href="#">Scatter Plot</a></li>
							<li><a id="eda-pareto" href="#">Pareto</a></li>
						</ul>
					</li>
					
					
					<!-- Feature Selection -->
					<li class="dropdown">
			            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Services</span> <span class="caret"></span></a>
			            <ul class="dropdown-menu">
			                <li><a href="#">Service A</a></li>
			                <li><a href="#">Service B</a></li>
			                <li class="dropdown-submenu">
			                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Service C</span><span class="caret"></span></a>
			                    <ul class="dropdown-menu">
			                        <li><a href="#">Service C1</a></li>
			                        <li><a href="#">Service C2</a></li>
			                        <li><a href="#">Service C3</a></li>
			                        <li><a href="#">Service C4</a></li>
			                        <li><a href="#">Service C5</a></li>
			                    </ul>
			                </li>
			            </ul>
			        </li>
			        
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Feature Selection<span class="caret"></span>
						</a>
						
						<ul class="dropdown-menu">
							<li><a id="menu-upload" href="{%url 'feature_analysis_home' %}">Feature Importance</a></li>
							
						</ul>
					</li>
					
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Dimensionality Reduction Analysis<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="{%url 'pca_home' %}">Principal Component Analysis</a></li>
							<li><a id="" href="{%url 'lda_home' %}">Linear Discriminant Analysis</a></li>
							<li><a id="" href="{%url 'tsne_home' %}">t-Distributed Stochastic Neighbor Embedding</a></li>
							
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Model Selection<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="#">Model Selection</a></li>
							<li><a id="" href="{%url 'pipeline_home' %}">Model Creation  (Pipeline)</a></li>
							<li><a id="" href="{%url 'cluster_analysis_home' %}">Cluster Analysis</a></li>
							<li><a id="" href="{%url 'unsupervised_home' %}">Model Creation (Individual)</a></li>
						</ul>
					</li>
	

					
					
					<!-- <li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Visualization Settings<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="flex_model_analysis" href="{%url 'flex_vis_home' %}">Data and Model Setting</a></li>
						</ul>
					</li> -->
					
					
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Visualization<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="flex_model_analysis" href="{%url 'flex_vis_home' %}">Data and Model Setting</a></li>
							<li><a id="flex_model_analysis" href="{%url 'flex_vis_home' %}">Flexible View</a></li>
							<!-- <li><a id="radiomic_result" href="{%url 'vis_radiomic_result_home' %}">Radiomic Result Analysis</a></li> -->
							
							<!-- <li><a id="vis_diabetes_class" href="%url 'vis_diabetes_class' %">Data Table</a></li>
							<li><a id="radiomic_brain" href="%url 'radiomic_brain' %">Lasso Tool</a></li>
							<li><a id="vis_multi_tabs" href="%url 'vis_multi_tabs' %">Multi-tab</a></li>
							<li><a id="vis_call_back" href="%url 'vis_call_back' %">Callback</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li> -->
						</ul>
					</li>
					
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Sample Work<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="menu-upload" href="{%url 'corr_explore_radiomics' %}">Radiomics and Clinical <br> Outcomes  Association <br> Exploration</a></li>
							<li><a id="radiomic_stratified" href="{%url 'vis_stratified_radiomic_home' %}">Patient's Radiomics Analysis(under construction)</a></li>
						</ul>
					</li>
					
					
					
					
				</ul>
				<!-- <ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="./">Default <span
							class="sr-only">(current)</span></a></li>
					<li><a href="../navbar-static-top/">Static top</a></li>
					<li><a href="../navbar-fixed-top/">Fixed top</a></li>
				</ul> -->
				
								<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Supervised Learning<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="%url 'supervised_home' %">Model Creation</a></li>
							
						</ul>
					</li> -->
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav> 
	   <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">Services</span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Service A</a></li>
                <li><a href="#">Service B</a></li>
                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="nav-label">Service C</span><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Service C1</a></li>
                        <li><a href="#">Service C2</a></li>
                        <li><a href="#">Service C3</a></li>
                        <li><a href="#">Service C4</a></li>
                        <li><a href="#">Service C5</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
	{% load static %}
	<script src="{% static "main_menu/main_menu_action.js" %}"></script>