<!-- https://www.w3schools.com/bootstrap/bootstrap_navbar.asp -->

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{%url 'home' %}"><strong><font color="#fff">AI-INSIGHT.COM</font></strong></a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="{%url 'main' %}">Home</a></li>

					<!-- Data Pre-processing -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Data Preprocessing<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<!-- <li><a id="menu-upload" href="{%url 'data_upload_init' %}">Upload</a></li> -->
							<li><a id="menu-data-cleanup" href="{%url 'data_cleanup' %}">Data Cleanup</a></li>
							<li><a id="menu-data-matching" href="{%url 'data_matching_home' %}">Data Matching</a></li>
						</ul>
					</li>

					
					<!-- Exploratory data  analysis (EDA) -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Exploratory data  analysis (EDA)<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a id="eda-hist" href="#">Histogram (not yet)</a></li>
							<li><a id="eda-scatter" href="#">Scatter Plot (not yet)</a></li>
							<li><a id="eda-heatmap" href="#">Heatmap (not yet)</a></li>
							<!-- <li><a id="eda-pareto" href="#">Pareto (not yet)</a></li> -->
						</ul>
					</li>
					
					
					<!-- Feature Selection -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">
							<span class="nav-label">Feature Selection</span>
			                <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="{%url 'feature_analysis_home' %}">Feature Importance</a></li>
							<li><a href="#">Variance Threshold (not yet)</a></li>
							<li><a href="#">Peason's correlation (not yet)</a></li>
							<li><a href="#">Chi-squared (not yet)</a></li>
							
						</ul>
					</li>
<!-- 					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">
								<span class="nav-label">Feature Selection</span>
			                    <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-submenu">
			                    <a class="test" tabindex="-1" href="#" class="dropdown-toggle" 
			                    	data-toggle="dropdown" role="button" aria-haspopup="true" 
			                    	aria-expanded="false"> 
			                    	<span class="nav-label">Filter Method</span>
			                    	<span class="caret"></span>
			                    </a>
			                    <ul class="dropdown-menu">
			                        <li><a href="#">Variance Threshold</a></li>
			                        <li><a href="#">Correlation</a></li>
			                    </ul>
			                </li>
							<li><a id="menu-upload" href="#">Wrapper Method</a></li>
							<li class="dropdown-submenu">
								<a class="test" tabindex="-1" href="#" class="dropdown-toggle" 
			                    	data-toggle="dropdown" role="button" aria-haspopup="true" 
			                    	aria-expanded="false"> 
			                    	<span class="nav-label">Embeded Method</span>
			                    	<span class="caret"></span>
			                    </a>
			                    <ul class="dropdown-menu">
			                        <li><a id="menu-upload" href="{%url 'feature_analysis_home' %}">Feature Importance</a></li> 
			                    </ul>
							</li>
						</ul>
					</li> -->
					
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Dimensionality Reduction<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="{%url 'pca_home' %}">PCA</a></li>
							<li><a id="" href="{%url 'lda_home' %}">LDA (not yet)</a></li>
							<li><a id="" href="{%url 'tsne_home' %}">T-SNE (not yet)</a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Cluster Analysis<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="{%url 'cluster_analysis_home' %}">Cluster Analysis (being updated)</a></li>
						</ul>
					</li>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Model Selection<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="{%url 'pipeline_home' %}">Model Creation Pipeline</a></li>
							<li><a id="" href="{%url 'unsupervised_home' %}">Model Creation (Individual) (not yet)</a></li>
						</ul>
					</li>
	

					
					
					<!-- <li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Visualization Settings<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="flex_model_analysis" href="{%url 'flex_vis_home' %}">Data and Model Setting</a></li>
						</ul>
					</li> -->
					
					
				<!-- 	<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Visualization<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="flex_model_analysis" href="{%url 'flex_vis_home' %}">Data and Model Setting</a></li>
							<li><a id="flex_model_analysis" href="{%url 'flex_vis_home' %}">Flexible View</a></li>
						</ul>
					</li> -->
					
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Sample Work<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="menu-upload" href="{%url 'corr_explore_radiomics' %}">Radiomics and Clinical <br> Outcomes  Association <br> Exploration</a></li>
							<li><a id="vis_dynamic_source_home" href="{%url 'vis_dynamic_source_home' %}">Dynamic Dataset Prediction</a></li>
							<li><a id="radiomic_stratified" href="{%url 'vis_stratified_radiomic_home' %}">Patient's Radiomics Analysis(under construction)</a></li>
						</ul>
					</li>
				</ul>
				
<!-- 
<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">HTML</a></li>
      <li><a tabindex="-1" href="#">CSS</a></li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li class="dropdown-submenu">
            <a class="test" href="#">Another dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">3rd level dropdown</a></li>
              <li><a href="#">3rd level dropdown</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>  -->
				<!-- <ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="./">Default <span
							class="sr-only">(current)</span></a></li>
					<li><a href="../navbar-static-top/">Static top</a></li>
					<li><a href="../navbar-fixed-top/">Fixed top</a></li>
				</ul> -->
				
								<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Supervised Learning<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="" href="%url 'supervised_home' %">Model Creation</a></li>
							
						</ul>
					</li> -->
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav> 
	 
	 
<!-- Example of sub-submenus, don't delete -->
<!-- class level: dropdown - dropdown-menu - dropdown-submenu - dropdown-menu - dropdown-submenu -->
<!-- add class="test" tabindex="-1" to <a> under class="dropdown-submenu" -->
<!-- <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tutorials
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a tabindex="-1" href="#">HTML</a></li>
      <li><a tabindex="-1" href="#">CSS</a></li>
      <li class="dropdown-submenu">
        <a class="test" tabindex="-1" href="#">New dropdown <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li><a tabindex="-1" href="#">2nd level dropdown</a></li>
          <li class="dropdown-submenu">
            <a class="test" href="#">Another dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">3rd level dropdown</a></li>
              <li><a href="#">3rd level dropdown</a></li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div> -->
  
{% load static %}
<script src="{% static "main_menu/main_menu_action.js" %}"></script>