
#data_table {
	width: 100%;
	height: 500px;
	overflow: scroll;
	border: gray;
	border-width: thin;
	padding: 5px;
}

.data_info{
	width: 100%;
	margin-left: 15px;
}

.data_info > tbody > tr > td{
	width: 50px;
}

.data_info > td > p{
	margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.break_words{
	word-break: break-word;
}
.td_columns_nan{
	padding-right: 10px; 
	max-height: 200px; 
	overflow-y: scroll;
}