{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Principle Component Analysis</title>
<meta charset="utf-8" />
{% include "main_menu/global_script.html" %} {% block javascript %}
<script>
	$(document).ready(function() {
	});
</script>
{% endblock %}
</head>
<body>
	{% include "main_menu/nav_bar.html" %}
	<div class="container-fluid">
		<div id="pca_section">
			<form id="pca_form" class="form-inline">
			  <div class="form-group mb-2">
			    <label for="dataset" class="sr-only">Dataset</label>
			    <input id="dataset" type="text" readonly class="form-control-plaintext">
			  </div>
			  <div class="form-group mx-sm-3 mb-2">
			    <label for="inputPassword2" class="sr-only">Password</label>
			    <input type="password" class="form-control" id="inputPassword2" placeholder="Password">
			  </div>
			  <button type="submit" class="btn btn-primary mb-2">View Data</button>
			</form>
		</div>
	</div>
</body>
</html>