<!DOCTYPE html>
<html lang="en">
<head>
<title>Radiomic Result Analysis</title>
<meta charset="utf-8" />
{% load static %}
{% include "main_menu/global_script.html" %}
<!-- Jquery UI for autocomplete -->
<script src="{% static "external_library/jquery/ui/1.12.1/jquery-ui.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "external_library/jquery/ui/1.12.1/jquery-ui.min.css"%}"></link>
<!--  Plotly -->
<script type="text/javascript" src="{% static "external_library/plotly/plotly-1.47.3.min.js"%}"></script>


<!-- SlickGrid -->
<!-- can't remove 1.11.3 -->
<script src="{% static "external_library/slickgrid/2.4.3/lib/jquery-ui-1.11.3.min.js"%}"></script>
<script src="{% static "external_library/slickgrid/2.4.3/lib/jquery.event.drag-2.3.0.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.core.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.grid.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.formatters.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.editors.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/plugins/slick.rowselectionmodel.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.dataview.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/controls/slick.pager.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/controls/slick.columnpicker.js"%}"></script>
<!-- Plug in to group column -->
<!-- https://github.com/naresh-n/slickgrid-column-group/blob/master/examples/example-1.html -->
<script type="text/javascript" src="{% static "external_library/slickgrid/slick.columngroup.js"%}"></script>

<script type="text/javascript" src="{% static "external_library/d3js/d3.v3.js"%}"></script>



<script type="text/javascript" src="{% static "vis_dynamic_source/vis_dynamic_source_grid.js"%}"></script>
<script type="text/javascript" src="{% static "vis_dynamic_source/vis_dynamic_source.js"%}"></script>

<!--  Dashboard -->
<!-- <script type="text/javascript" src="{% static "vis_stratified_radiomic/vis_stratified_radiomic_dashboard.js"%}"></script> -->
<link rel="stylesheet" type="text/css" href="{% static "vis_dynamic_source/vis_dynamic_source.css"%}"></link>

<!-- JExcel Scripts -->
<script src="{% static "jexcel/2.0.2/js/jquery.jexcel.js"%}"></script>
<link rel="stylesheet" href="{% static "jexcel/2.0.2/css/jquery.jexcel.css"%}" type="text/css"></link>
<script type="text/javascript" src="{% static "theme/common-jexcel-ext.js"%}"></script>
<script type="text/javascript" src="{% static "theme/common_graph.js"%}"></script>


<link rel="stylesheet" href="{% static "external_library/slickgrid/2.4.3/slick.grid.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "external_library/slickgrid/2.4.3/slick-default-theme.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "external_library/slickgrid/2.4.3/controls/slick.pager.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "external_library/slickgrid/2.4.3//controls/slick.columnpicker.css"%}" type="text/css"/>
<link rel="stylesheet" href="{% static "external_library/jquery/ui/1.12.1/jquery-ui.theme.css"%}" type="text/css"/>

</head>
<body>
	<!-- Hidden fields used in JS -->
	<input type="hidden" id="process_data_url" data-url="{%url 'vis_dynamic_source_process' %}" />
	{% include "main_menu/nav_bar.html" %}
	<h3 class="page_title">Dynamic dataset prediction</h3>
	{% include "main_menu/alert_msg.html" %}
	
	<div class="container-fluid">
		<div>
			<div id="dataset_group">
				<form id="form_upload_file" method="post"
					action="{% url 'vis_dynamic_source_process' %}" enctype="multipart/form-data">
					{% csrf_token %}
					
					<!-- Upload file section -->
					<div id="upload_file_group" class="form-group-border">
						<p>
							<a id="upload_file_title" href="#">Upload dataset and select model</a>
						</p>
						<div  id="upload_file_section">
							
							<h4 class="h_section_title">Base Space</h4>
							
							<!-- Row 1 -->
							<div class="form-group row">
								<label for="data_file" class="col-sm-3">Input features (required)</label>
								<div class="col-sm-7">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="data_column_header"  name="data_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="data_column_header">Data file contains table header</label>
									</div>
									<input id="data_file" name="data_file" type="file"/>
								</div>
							</div>
							
							<!-- Row 2 -->
							<div class="form-group row">
								<label for="label_file" class="col-sm-3">Label (required)</label>
								<div class="col-sm-7">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="label_column_header"  name="label_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="label_column_header">Data file contains table header</label>
									</div>
									<input id="label_file" name="label_file" type="file"/>
								</div>
							</div>
							
							<!-- Additional Data for Base Space -->
							<div class="form-group row">
								<label for="label_file" class="col-sm-3">Additional information<br>(first column is a corresponding ID)</label>
								<div class="col-sm-7">
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="add_data_column_header"  name="add_data_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="add_data_column_header">Data file contains table header</label>
									</div>
									<input id="add_data_file" name="add_data_file" type="file"/>
								</div>
							</div>
							
							
							
							<!-- New data for plotting in space (not required)  -->
							<h4 class="h_section_title">Prediction</h4>
							
								<div class="form-group row">
								  <label for="model_id" class="col-sm-3">Trained model (required)</label>
								  <div class="col-sm-7">
								  	<select class="form-control" id="model_id">
								    	<option value="uci_breast_cancer_svmovo3.joblib">SVM (OVO): UCI Breast Cancer</option>
								  	</select>
								  </div>
								</div>
							
							
							<div class="form-group row">
								<label for="data_file" class="col-sm-3">Input data (required)</label>
								<div class="col-sm-7">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="new_data_column_header"  name="new_data_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="new_data_column_header">Data file contains table header</label>
									</div>
									<input id="new_data_file" name="new_data_file" type="file"/>
								</div>
							</div>				
							<!-- Row 4 -->
							<div  class="form-group row">
								<label for="general_data_file" class="col-sm-3">Additional information<br> (first column is a corresponding ID)</label>
								<div class="col-sm-7">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="general_data_column_header"  name="general_data_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="general_data_column_header">Data file contains table header</label>
									</div>
									<input name="general_data_file" type="file"/>
									<div style="margin-top: 15px;">
										<button id="process_data" class="btn btn-primary" style="width: 150px;" type="submit">Process</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

	<div id="process_result">
	
		<!-- custom search area -->
<!-- 		<div id="main_left_result" class="form-group-border">
			Graph search
			<div id="search_group" >
				<div id="search_group_section">
						<div class="form-group" style="margin-bottom: 5px;">
							<div class="col-sm-8">
								<label for="btn_hide_text_on_dot">Show text over the
									dots</label>
							</div>
							<div>
								<label class="switch"> <input id="btn_hide_text_on_dot"
									name="btn_hide_text_on_dot" type="checkbox" checked> <span
									class="slider round"></span>
								</label>
							</div>
						</div>

						<div class="form-group row">
							<div class="col_label">
								<label for="search_id">Search ID</label>
							</div>
							<div>
	  							<input id="search_id" name="search_id" type="text" class="form-control"></input>
							 </div>
						</div>
						
						
						<div class="form-group row">
							<div class="col_label">
								<label for="txt_search">Text Search</label>
							</div>
							<div>
				  				<input id="txt_search" name="txt_search" type="text" class="form-control">
							 </div>
						</div>
						
					
						<div class="form-group row">
							<div class="col_label">
								<label for="sel_gender">Gender</label>
							</div>
							<div>
				  				<select id="sel_gender" name="sel_gender">
		  							<option value="" selected>All</option>
		  							<option value="Male">Male</option>
		  							<option value="Female">Female</option>
		  						</select>
							 </div>
						</div>
				
				
						<div class="form-group row">
							<div class="col_label">
								<label for="range_age">Age(year)</label>
							</div>
							<div>
				  				<input type="text" id="range_age" name="range_age" readonly style="border:0; color:#2196f3;; font-weight:bold;">
								<div id="slider-range-age"></div>
							 </div>
						</div>
					
					
					  	<div class="form-group row">
							<div class="col_label">
								<label for="range_height">Height(cm)</label>
							</div>
							<div>
				  				<input type="text" id="range_height" name="range_height" readonly style="border:0; color:#2196f3;; font-weight:bold;">
								<div id="slider-range-height"></div>
							 </div>
						</div>
					

					  	<div class="form-group row">
							<div class="col_label">
								<label for="range_weight">Weight(kg)</label>
							</div>
							<div>
				  				<input type="text" id="range_weight" name="range_weight" readonly style="border:0; color:#2196f3;; font-weight:bold;">
								<div id="slider-range-weight"></div>
							 </div>
						</div>
											
					
						<div class="form-group row">
							<div class="center_button">
								<button id="btn_reset_filter" name="btn_reset_filter" class="btn btn-primary">Clear</button>
							</div>					
						</div>
				</div>
			</div>
		</div> -->
		
		
		
		
		
		<div id="main_right_result" class="form-group-border">
			<div id="plotjs_container"></div>
		</div>
	</div>
		
		<div id="process_result_tabs" class="container-fluid">
			<ul class="nav nav-tabs">
				<!-- <li class="active"><a data-toggle="tab" href="#tab_dashboard_analytic1">Analytic Dashboard</a></li> -->
				<li><a data-toggle="tab" href="#tab_grid_radiomic_result">Selected data point on plot</a></li>
				<li><a data-toggle="tab" href="#tab_grid_medical_history">Additional information</a></li>
				<!-- <li><a data-toggle="tab" href="#tab_grid_similar_properties">Mutual Information(Not yet)</a></li> -->
				
			</ul>
			<div id="gridContainer">
				<div id="tab_grid_radiomic_result" class="tab-pane fade" style="display:none;">
					<div>
					    <div id="grid_radiomic_result" style="width:100%;height:500px;"></div>
					    <div id="pager_grid_radiomic_result" style="width:100%;height:20px;"></div>
					  </div>
				</div>
				
				<div id="tab_grid_medical_history" class="tab-pane fade" style="display:none;">
				  <div>
				    <!-- <div class="grid-header" style="width:100%">
				     <span style="float:right" class="ui-icon ui-icon-search" title="Toggle search panel"></span>
				    </div> -->
				    <div id="grid_medical_history" style="width:100%;height:500px;"></div>
				    <div id="pager_grid_medical_history" style="width:100%;height:20px;"></div>
				  </div>
				</div>
				
				<!-- <div id="tab_grid_similar_properties" class="tab-pane fade in active">
					<div>
					    <div class="grid-header" style="width:100%">
					      <span style="float:right" class="ui-icon ui-icon-search" title="Toggle search panel"></span>
					    </div>
					    <div id="grid_similar_properties" style="width:100%;height:500px;"></div>
					    <div id="pager_grid_similar_properties" style="width:100%;height:20px;"></div>
					  </div>
				</div> -->
			
			
			
			
				<!--  Dashboard -->	
				<!-- <div id="tab_dashboard_analytic1" class="tab-pane fade in active">
					<div id="dashboard_header">
					   	<div id="dashboard">
					   		<p class="dashboard_group_title">General Information</p>
				   			<div class="dashboard_row">
				   				<div class="dashboard_column">
						   			<div class="dashboard_row_block" style="width: 50%;">
							   			<div  class="dashboard_row_block_header">
							   				<p class="dashboard_group_title">General Information</p>
							   			</div>
								   		<div class="dashboard_row_block_body">
								   			<div id="plot_gender"></div>
								   			<div id="plot_gender_age"></div>
								   		</div>
									 </div>
							</div>
							<div class="dashboard_column" style="border-left: 3px solid #cccccc;">
								 
								 <div class="dashboard_row_block" style="width: 50%;">
						   			<div  class="dashboard_row_block_header">
						   				<p class="dashboard_group_title">Physical Measurement</p>
						   			</div>
							   		<div class="dashboard_row_block_body">
							   			
							   			<div class="block_pulse_rate_blood_pressure">
							   				<div id="plot_pulse_rate">
							   					<img src="{% static "images/cardiogram.png"%}" width="50"/>
							   					<p id="pulse_rate">70</p>
							   				</div>
							   				<div id="plot_blood_pressure">
							   					<img src="{% static "images/blood-pressure.png"%}" width="50"/>
							   					<p id="blood_pressure">80</p>
							   				</div>
							   			</div>
							   			<div id="plot_bmi"></div>
					   				</div>
								 </div>
								</div>
					   		</div>
					   		
					   		
					   		<div class="dashboard_row">
						   		<div class="dashboard_row_block">
						   			<div  class="dashboard_row_block_header">
							   			<p class="dashboard_group_title">Life Style</p>
						   			</div>
							   		<div class="dashboard_row_block_body" style="width: 800; height: 500px;">
							   			<div id="plot_nutrition_factor_bar" ></div>
							   		</div>
							   	</div>
					   		</div>
				
					   	</div>
					   
			
					</div>
				</div> -->
				
				
				
				
			</div>
		</div>
</div>
	
</body>
</html>