{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Principle Component Analysis</title>
<meta charset="utf-8" />
{% include "main_menu/global_script.html" %}
{% include "core_bokeh/common_bokeh_script.html" %}
<!-- Jquery UI for autocomplete -->
<script src="{% static "jquery/ui/1.12.1/jquery-ui.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "jquery/ui/1.12.1/jquery-ui.min.css"%}"></link>

<!-- JExcel Scripts -->
<script src="{% static "jexcel/2.0.2/js/jquery.jexcel.js"%}"></script>
<link rel="stylesheet" href="{% static "jexcel/2.0.2/css/jquery.jexcel.css"%}" type="text/css" />


<script type="text/javascript" src="{% static "dimreduction/lda.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "dimreduction/lda.css"%}"></link>

<script type="text/javascript" src="{% static "theme/common-jexcel-ext.js"%}"></script>
</head>
<body>
	{% include "main_menu/nav_bar.html" %}
	
	<input type="hidden" id="url_plot" data-url="{%url 'lda_plot' %}" />
	
	<h3 class="page_title">Linear Discriminant Analysis (LDA) - Supervised (under construction)</h3>
	{% include "main_menu/alert_msg.html" %}
	<div class="container-fluid">
		<div id="lda_dataset_search_section">
			
				<!-- Search dataset section -->
				<div id="search_section" class="form-group-border">
					<p>
						<a id="search_title" href="#">Upload dataset</a>
					</p>
					<div id="seach_criterion_section" class="form-group row">
					
						<form id="form_upload_file" method="post" action="{% url 'lda_plot' %}" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-sm-10">
								<label  for="data_file" class="col-sm-3">Input data</label>
								<div class="col-sm-7">
									<input id="data_file" name="data_file" type="file" />
								</div>
							</div>
							
							<div class="col-sm-10">
								<label  for="label_file" class="col-sm-3">Label</label>
								<div class="col-sm-7">
									<input id="label_file" name="data_file" type="file" />
								</div>
							</div>
						</form>
						
						<div class="col-sm-10">
								<label  for="label_file" class="col-sm-3"></label>
								<div class="col-sm-7">
									<br>
									<!-- button must be outside the form, otherwise error when AJAX is fired. -->
									<button id="btn_view_data" class="btn btn-primary">View 3D</button>
								</div>
						</div>
						
					</div>
				</div>
		</div>
		<div id="data_table_section" class="form-group-border">
			<p>
				<a id="data_table_title" href="#">File Data</a>
			</p>
			<div id="data_table"></div>
		</div>

	</div>
</body>
</html>