<!DOCTYPE html>
<html lang="en">
<head>
<title>Correlation Exploration</title>
<meta charset="utf-8" />
{% load static %} {% include "main_menu/global_script.html" %}

<!-- Link to CSS -->

<link rel="stylesheet" type="text/css" href="{% static "external_library/slickgrid/2.4.3/slick.grid.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/slickgrid/2.4.3/slick-default-theme.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/slickgrid/2.4.3/controls/slick.pager.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/slickgrid/2.4.3//controls/slick.columnpicker.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/jquery/ui/1.12.1/jquery-ui.theme.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/jquery/ui/1.12.1/jquery-ui.min.css"%}"></link>


<!-- Link to JS -->

<!-- Jquery UI for autocomplete -->
<script src="{% static "external_library/jquery/ui/1.12.1/jquery-ui.js"%}"></script>

<!--  Plotly -->
<script type="text/javascript" src="{% static "external_library/d3js/d3.v3.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/plotly/plotly-1.47.3.min.js"%}"></script>


<!-- SlickGrid Component -->
<!-- can't remove 1.11.3 -->
<script src="{% static "external_library/slickgrid/2.4.3/lib/jquery-ui-1.11.3.min.js"%}"></script>
<script src="{% static "external_library/slickgrid/2.4.3/lib/jquery.event.drag-2.3.0.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.core.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.grid.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.formatters.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.editors.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/plugins/slick.rowselectionmodel.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.dataview.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/controls/slick.pager.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/controls/slick.columnpicker.js"%}"></script>

<!-- Bootstrap-toggle -->
<script src="{% static "external_library/bootstrap-toggle/js/bootstrap2-toggle.min.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "external_library/bootstrap-toggle/css/bootstrap2-toggle.min.css"%}"></link>

<!--  The project static files -->
<link rel="stylesheet" type="text/css" href="{% static "project/corr_explore/corr_explore.css"%}"></link>
<script type="text/javascript" src="{% static "theme/common_graph.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore_events.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore_plot_mean_bar.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore_plot_pca.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore_slickgrid.js"%}"></script>


</head>
<body>

	<!-- Hidden fields used in JS for backend info -->
	<input type="hidden" id="data_attr" 
			data-url-upload="{%url 'corr_explore_analyze_source_target' %}"
			data-url-strat="{%url 'corr_explore_stratify_data' %}" 
			data-url-dim="{%url 'corr_explore_reduce_dim_data' %}"
			data-url-fselection1="{%url 'corr_explore_feature_selection' %}"/>
			
	<!-- Include naviation bar to the page -->		
	{% include "main_menu/nav_bar.html" %}
	
	<!--  Text for current page name  -->
	<h3 class="page_title">Correlation Analysis</h3>
	
	<!-- Notification message -->
	{% include "main_menu/alert_msg.html" %}
	
	<!-- Template for append object -->
	<select id="template_select_number" style="display:none;">
	  <option value="INTERVAL">Interval</option>
	  <option value="NOMINAL" selected>Nominal</option>
	  <option value="ORDINAL">Ordinal</option>
	</select>

	<!-- Use container-fluid for full screen -->
	<div class="container-fluid">
			<!-- Upload file section -->
			<div id="dataset_group">
				<form id="form_upload_file" method="post"
					action="{% url 'corr_explore_analyze_source_target' %}" enctype="multipart/form-data">
					{% csrf_token %}
					
					<!-- ======== Upload file section ======== -->
					<p>
						<a id="upload_file_title" href="#" class="toggle_text">Upload File</a>
					</p>
					<div id="upload_file_group" class="form-group-border">
						<div  id="upload_file_section">
							<!-- <h4 class="h_section_title">BASE PATIENT SPACE</h4> -->
							<!-- Row 1 -->
							<div class="form-group row">
								<p class="col-sm-2">Features</p>
								<div class="col-sm-7">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="source_column_header"  name="source_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="source_column_header">Data file contains table header</label>
									</div>
									<input id="source_file" name="source_file" type="file" class="file_chooser"/>
								</div>
							</div>
							<!-- Row 2 -->
							<div class="form-group row">
								<p class="col-sm-2">Target</p>
								<div class="col-sm-7">
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="target_column_header"  name="target_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="target_column_header">Data file contains table header</label>
									</div>
									<input id="target_file" name="target_file" type="file" class="file_chooser"/>
									<div style="margin-top: 15px;">
										<button id="process_data" class="btn btn-primary" style="width: 150px;" type="submit">Process</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
	</div>
	<!-- ===== End of div container-fluid ===== -->
	
	
	<div id="process_result_tabs" class="container-fluid">
		<ul class="nav nav-tabs" style="margin-bottom: 15px;">
			<li class="active"><a data-toggle="tab" href="#tab_1">Mean Bar Chart</a></li>
			<li><a data-toggle="tab" href="#tab_2">Principle Component Analysis</a></li>
			<!-- <li><a data-toggle="tab" href="#tab_3">Feature Analysis</a></li> -->
			
		</ul>
		
		<div id="tab_1" class="tab-pane fade in active">
			<!-- Toggle -->
			<p>
				<a id="source_target_selection_title" href="#" class="toggle_text">Features and Criterion</a>
			</p>
			<!-- =============== Data column selection ============== -->
			<div id="source_target_selection_group_outer" class="form-group-border">
				<div id="source_target_selection_group">
					<div id="main_left">
						<div id="feature_group" >
							<div id="feature_group_section">
								<div>
									<h5 class="h_section_title">FEATURES</h5>
									

									<div class="form-group row top_bottom_lines">
										<div style="display: -webkit-inline-box;">
											<div><a id="lnk_clear_features" href="#">Clear All</a></div>
											<!-- <div><img width="25px" src="{% static "images/alphabetical-order.png"%}"/></div> -->
										</div>					
									</div>
								</div>
								<div id="feature_list">
								</div>
							</div>
						</div>
					</div>
					<div id="main_right">
						<div id="main_right_table">
							<h5 class="h_section_title">CRITERIONS</h5>
							<table id="tbl_criterion">
							  <thead>
							    <tr>
							      <th>Column</th>
							      <th>Number Type</th>
							      <th>Criterion</th>
							      <th>Group By Level</th>
							      <th>Bin</th>
							    </tr>
							  </thead>
							  <tbody>
							  </tbody>
							</table>
						</div>
					</div>
					<!-- ======= End of main_right ====== -->
				</div>
				<!-- ====== End of Source/Target selection ====== -->
				<div style="width:100%; text-align: center;margin-top:10px;margin-bottom: 10px;">
					<button id="render_plot" class="btn btn-primary" style="width: 300px;" type="submit">Plot</button>
				</div>
			</div>
			<div id="plot_strat_mean_bar" ></div>
		</div>
		<!-- ===== End of tab 1 ===== -->


		
		<div id="tab_2" class="tab-pane">
			<!-- Toggle -->
			<p>
				<a id="pca_selection_title" href="#"  class="toggle_text">Features and Criterion</a>
			</p>
			<!-- =============== Data column selection ============== -->
			<div id="pca_group_outer" class="form-group-border">
				<div id="pca_group">
					<div id="main_left">
						<div id="pca_feature_group" >
							<div id="pca_feature_group_section">
								<div>
									<h5 class="h_section_title">FEATURES</h5>
									<div style="display: -webkit-inline-box;width: 100%;">
										<div style="width: 45%; margin-left: 10px;">
											<p>Select By</p>
										</div>
										<div style="display: -webkit-inline-box;">
											<div><img id="reload_feature_selection" src="{% static "images/reload.png"%}" style="width: 20px;margin-right: 10px;cursor: pointer;"/></div>
											<select id="pca_feature_selection_algo" name="pca_feature_selection_algo">
												<option value="MANUAL">Manual Select</option>
												<option value="RANDOMFOREST">Random Forest</option>
												<option value="XGBOOST">XGBoost</option>
											</select>
										</div>
									</div>
									<div class="form-group row top_bottom_lines">
										<div>
											<a id="lnk_clear_pca_features" href="#">Clear All</a> |
											<a id="lnk_select_all" href="#">Select All</a>|
											<a id="lnk_sort_az" href="#">A-Z</a>
										</div>					
									</div>
								</div>
								<div id="pca_feature_list">
								</div>
							</div>
						</div>
					</div>
					<div id="main_right">
						<div id="main_right_table">
							<h5 class="h_section_title">CRITERIONS</h5>
							<table id="tbl_pca_criterion">
							  <thead>
							    <tr>
							    	<th width="100px;">Select Label</th>
							      	<th>Column Name</th>
							      	<th>Number Type</th>
							      	<th>Criterion</th>
							    </tr>
							  </thead>
							  <tbody>
							  </tbody>
							</table>
						</div>
<!-- 						<div>
							<h5 class="h_section_title">DIMENSIONALITY REDUCTION TECHNIQUE</h5>
							<div class="form-group-border">
								<input type="radio" id="pca" name="dimalgo" value="PCA">
								<label for="pca">PCA</label>
								<input type="radio" id="lda" name="dimalgo" value="LDA" style="margin-left: 20px;">
								<label for="lda">LDA</label>
							</div>
						</div> -->
					</div>
					<!-- ======= End of main_right ====== -->
				</div>
				<!-- ====== End of Source/Target selection ====== -->
				<div style="width:100%; text-align: center;margin-top:10px;margin-bottom: 10px;">
					<!-- <button id="btn_sel_feature_xgboost" class="btn btn-primary" style="width: 250px;" type="submit">Select Features by XGBoost</button> -->
					<button id="render_pca_space" class="btn btn-primary" style="width: 150px;" type="submit">PCA Plot</button>
				</div>
			</div>
			<div id="plot_reduced_dim" ></div>
		</div>
		<!-- End tab#2 -->
		
	</div>
	

</body>