<!DOCTYPE html>
<html lang="en">
<head>
<title>Correlation Exploration</title>
<meta charset="utf-8" />
{% load static %} {% include "main_menu/global_script.html" %}

<!-- Link to CSS -->

<link rel="stylesheet" type="text/css" href="{% static "external_library/slickgrid/2.4.3/slick.grid.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/slickgrid/2.4.3/slick-default-theme.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/slickgrid/2.4.3/controls/slick.pager.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/slickgrid/2.4.3//controls/slick.columnpicker.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/jquery/ui/1.12.1/jquery-ui.theme.css"%}" type="text/css" />
<link rel="stylesheet" type="text/css" href="{% static "external_library/jquery/ui/1.12.1/jquery-ui.min.css"%}"></link>


<!-- Link to JS -->

<!-- Jquery UI for autocomplete -->
<script src="{% static "external_library/jquery/ui/1.12.1/jquery-ui.js"%}"></script>

<!--  Plotly -->
<script type="text/javascript" src="{% static "external_library/d3js/d3.v3.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/plotly/plotly-1.47.3.min.js"%}"></script>


<!-- SlickGrid Component -->
<!-- can't remove 1.11.3 -->
<script src="{% static "external_library/slickgrid/2.4.3/lib/jquery-ui-1.11.3.min.js"%}"></script>
<script src="{% static "external_library/slickgrid/2.4.3/lib/jquery.event.drag-2.3.0.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.core.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.grid.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.formatters.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.editors.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/plugins/slick.rowselectionmodel.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/slick.dataview.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/controls/slick.pager.js"%}"></script>
<script type="text/javascript" src="{% static "external_library/slickgrid/2.4.3/controls/slick.columnpicker.js"%}"></script>

<!-- Bootstrap-toggle -->
<script src="{% static "external_library/bootstrap-toggle/js/bootstrap2-toggle.min.js"%}"></script>
<link rel="stylesheet" type="text/css" href="{% static "external_library/bootstrap-toggle/css/bootstrap2-toggle.min.css"%}"></link>

<!--  The project static files -->
<link rel="stylesheet" type="text/css" href="{% static "project/corr_explore/corr_explore.css"%}"></link>
<script type="text/javascript" src="{% static "theme/common_graph.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore_events.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore_plotly.js"%}"></script>
<script type="text/javascript" src="{% static "project/corr_explore/corr_explore_slickgrid.js"%}"></script>


</head>
<body>

	<!-- Hidden fields used in JS for backend info -->
	<input type="hidden" id="data_attr" 
			data-url-upload="{%url 'corr_explore_analyze_source_target' %}"
			data-url-strat="{%url 'corr_explore_stratify_data' %}" />
			
	<!-- Include naviation bar to the page -->		
	{% include "main_menu/nav_bar.html" %}
	
	<!--  Text for current page name  -->
	<h3 class="page_title">Correlation Analysis</h3>
	
	<!-- Notification message -->
	{% include "main_menu/alert_msg.html" %}
	
	<!-- Template for append object -->
	<select id="template_select_number" style="display:none;">
	  <option value="INTERVAL">Interval</option>
	  <option value="NOMINAL" selected>Nominal</option>
	  <option value="ORDINAL">Ordinal</option>
	</select>

	<!-- Use container-fluid for full screen -->
	<div class="container-fluid">
			<!-- Upload file section -->
			<div id="dataset_group">
				<form id="form_upload_file" method="post"
					action="{% url 'corr_explore_analyze_source_target' %}" enctype="multipart/form-data">
					{% csrf_token %}
<!-- 					<input 	type="checkbox" checked data-toggle="toggle" 
							data-on="Show" data-off="Hide" data-onstyle="primary" data-offstyle="default"> -->
					
					<!-- ======== Upload file section ======== -->
					<p>
						<a id="upload_file_title" href="#">Upload File</a>
					</p>
					<div id="upload_file_group" class="form-group-border">
						<div  id="upload_file_section">
							<!-- <h4 class="h_section_title">BASE PATIENT SPACE</h4> -->
							<!-- Row 1 -->
							<div class="form-group row">
								<label for="source_file" class="col-sm-3">Source Features</label>
								<div class="col-sm-7">
									
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="source_column_header"  name="source_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="source_column_header">Data file contains table header</label>
									</div>
									<input id="source_file" name="source_file" type="file" class="file_chooser"/>
								</div>
							</div>
							<!-- Row 2 -->
							<div class="form-group row">
								<label for="target_file" class="col-sm-3">Target</label>
								<div class="col-sm-7">
									<!-- Default checked -->
									<div class="custom-control custom-checkbox">
									  	<input type="checkbox" id="target_column_header"  name="target_column_header" class="custom-control-input" checked>
									  	<label class="custom-control-label" for="target_column_header">Data file contains table header</label>
									</div>
									<input id="target_file" name="target_file" type="file" class="file_chooser"/>
									<div style="margin-top: 15px;">
										<button id="process_data" class="btn btn-primary" style="width: 150px;" type="submit">Process</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
	
			<!-- =============== Data column selection ============== -->
			<p>
				<a id="source_target_selection_title" href="#">Features and Criterion</a>
			</p>
			
			<div id="source_target_selection_group_outer" class="form-group-border">
			<div id="source_target_selection_group">
			
				<div id="main_left">
					<!-- Graph search -->
					<div id="feature_group" >
						<p>
							<!-- <a id="search_group_title" href="#">Filter Hide/Show</a> -->
						</p>
						
						<div id="feature_group_section">
							<div>
								<h5 class="h_section_title">FEATURES</h5>
								<div class="form-group row">
									<div>
										<a id="lnk_clear_features" href="#">Clear All</a>
									</div>					
								</div>
							</div>
							<div id="feature_list">
							</div>
						</div>
					</div>
				</div>
				<div id="main_right">
					<div id="main_right_table">
						<h5 class="h_section_title">CRITERIONS</h5>
						<table id="tbl_criterion">
						  <thead>
						    <tr>
						      <th>Column</th>
						      <th>Number Type</th>
						      <th>Criterion</th>
						      <th>Group By Level</th>
						      <th>Bin</th>
						    </tr>
						  </thead>
						<!--   <tfoot>
						    <tr>
						      <th>Name</th>
						      <th>Instrument</th>
						    </tr>
						  </tfoot> -->
						  <tbody>
						  </tbody>
						</table>
					</div>
					<!-- set width = 100% to center button -->
					<!-- <div style="width:100%; text-align: center;margin-top:10px;">
						<button id="render_plot" class="btn btn-primary" style="width: 150px;" type="submit">Render Plot</button>
					</div> -->
				</div>
				<!-- ======= End of main_right ====== -->
			</div>
			<!-- ====== End of Source/Target selection ====== -->
			<div style="width:100%; text-align: center;margin-top:10px;margin-bottom: 10px;">
				<button id="render_plot" class="btn btn-primary" style="width: 300px;" type="submit">Render Plot</button>
			</div>
			
			</div>
			<!-- <p>
				<a id="plot_title" href="#">Plot Hide/Show</a>
			</p> -->
			<!-- <div id="plot_group" class="form-group-border">
				
			</div> -->
	</div>
	<!-- ===== End of div container-fluid ===== -->
	<div id="process_result_tabs" class="container-fluid">
		<ul class="nav nav-tabs">
			<li class="active"><a data-toggle="tab" href="#tab_1">Stratification Bar</a></li>
			<li><a data-toggle="tab" href="#tab_2"></a></li>
			<li><a data-toggle="tab" href="#tab_3">Tab 3</a></li>
			
		</ul>
		
		<div id="tab_1" class="tab-pane fade in active">
			<div id="plot_strat_mean_bar" ></div>
		</div>
	</div>
	

</body>